-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ggnondrack_shop
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auditoria_produto`
--

DROP TABLE IF EXISTS `auditoria_produto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditoria_produto` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `produto_id` int(11) NOT NULL,
  `campo_alterado` varchar(50) NOT NULL,
  `valor_antigo` text DEFAULT NULL,
  `valor_novo` text DEFAULT NULL,
  `usuario_id` int(11) DEFAULT NULL,
  `data_alteracao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_produto_id` (`produto_id`),
  KEY `idx_data_alteracao` (`data_alteracao`),
  KEY `idx_auditoria_data_produto` (`data_alteracao`,`produto_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria_produto`
--

LOCK TABLES `auditoria_produto` WRITE;
/*!40000 ALTER TABLE `auditoria_produto` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria_produto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categoria` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `descricao` text DEFAULT NULL,
  `ativo` enum('S','N') NOT NULL DEFAULT 'S',
  `data_cadastro` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ativo` (`ativo`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
INSERT INTO `categoria` VALUES (3,'Perif├®ricos',NULL,'S','2025-11-13 00:08:13'),(7,'Placa m├úe',NULL,'S','2025-11-13 00:24:40'),(8,'Consoles',NULL,'S','2025-11-13 00:30:03'),(9,'Processadores',NULL,'S','2025-11-13 00:37:01'),(10,'Notebooks',NULL,'S','2025-11-17 21:04:41');
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `endereco`
--

DROP TABLE IF EXISTS `endereco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `endereco` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `usuario_id` int(11) DEFAULT NULL,
  `venda_id` int(11) DEFAULT NULL,
  `nome` varchar(120) NOT NULL,
  `email` varchar(150) NOT NULL,
  `cep` varchar(9) NOT NULL,
  `logradouro` varchar(200) NOT NULL,
  `numero` varchar(20) NOT NULL,
  `bairro` varchar(120) NOT NULL,
  `cidade` varchar(120) NOT NULL,
  `uf` char(2) NOT NULL,
  `complemento` varchar(150) DEFAULT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `observacoes` text DEFAULT NULL,
  `criado_em` datetime NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `idx_venda` (`venda_id`),
  KEY `idx_cep` (`cep`),
  KEY `idx_uf` (`uf`),
  CONSTRAINT `fk_endereco_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_endereco_venda` FOREIGN KEY (`venda_id`) REFERENCES `venda` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `endereco`
--

LOCK TABLES `endereco` WRITE;
/*!40000 ALTER TABLE `endereco` DISABLE KEYS */;
/*!40000 ALTER TABLE `endereco` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_venda`
--

DROP TABLE IF EXISTS `item_venda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `item_venda` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `venda_id` int(11) NOT NULL,
  `produto_id` int(11) NOT NULL,
  `quantidade` int(11) NOT NULL,
  `preco_unitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_item_venda` (`venda_id`),
  KEY `fk_item_produto` (`produto_id`),
  KEY `idx_item_venda_produto` (`produto_id`),
  CONSTRAINT `fk_item_produto` FOREIGN KEY (`produto_id`) REFERENCES `produto` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_item_venda` FOREIGN KEY (`venda_id`) REFERENCES `venda` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_venda`
--

LOCK TABLES `item_venda` WRITE;
/*!40000 ALTER TABLE `item_venda` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_venda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produto`
--

DROP TABLE IF EXISTS `produto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produto` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `descricao` text DEFAULT NULL,
  `categoria_id` int(11) NOT NULL,
  `preco` decimal(10,2) NOT NULL,
  `estoque` int(11) NOT NULL DEFAULT 0,
  `imagem` varchar(255) DEFAULT NULL,
  `ativo` enum('S','N') NOT NULL DEFAULT 'S',
  `data_cadastro` datetime NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_produto_categoria` (`categoria_id`),
  KEY `idx_ativo` (`ativo`),
  KEY `idx_produto_categoria_ativo` (`categoria_id`,`ativo`),
  KEY `idx_produto_preco` (`preco`),
  FULLTEXT KEY `nome` (`nome`,`descricao`),
  CONSTRAINT `fk_produto_categoria` FOREIGN KEY (`categoria_id`) REFERENCES `categoria` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto`
--

LOCK TABLES `produto` WRITE;
/*!40000 ALTER TABLE `produto` DISABLE KEYS */;
/*!40000 ALTER TABLE `produto` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER audit_produto_preco 



BEFORE UPDATE ON produto 



FOR EACH ROW 



BEGIN



    -- Auditar altera├º├úo de pre├ºo



    IF OLD.preco != NEW.preco THEN



        INSERT INTO auditoria_produto (produto_id, campo_alterado, valor_antigo, valor_novo, usuario_id)



        VALUES (NEW.id, 'preco', OLD.preco, NEW.preco, @current_user_id);



    END IF;



    



    -- Auditar altera├º├úo de estoque



    IF OLD.estoque != NEW.estoque THEN



        INSERT INTO auditoria_produto (produto_id, campo_alterado, valor_antigo, valor_novo, usuario_id)



        VALUES (NEW.id, 'estoque', OLD.estoque, NEW.estoque, @current_user_id);



    END IF;



    



    -- Auditar altera├º├úo de status



    IF OLD.ativo != NEW.ativo THEN



        INSERT INTO auditoria_produto (produto_id, campo_alterado, valor_antigo, valor_novo, usuario_id)



        VALUES (NEW.id, 'ativo', OLD.ativo, NEW.ativo, @current_user_id);



    END IF;



END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `tipo` enum('cliente','admin') NOT NULL DEFAULT 'cliente',
  `ativo` enum('S','N') NOT NULL DEFAULT 'S',
  `data_cadastro` datetime NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_ativo` (`ativo`),
  KEY `idx_tipo` (`tipo`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venda`
--

DROP TABLE IF EXISTS `venda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `venda` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `usuario_id` int(11) NOT NULL,
  `status` enum('aberta','aguardando_pagamento','paga','enviada','entregue','cancelada') NOT NULL DEFAULT 'aberta',
  `metodo_pagamento` varchar(50) DEFAULT NULL COMMENT 'pix, mercadopago, cartao, boleto',
  `valor_total` decimal(10,2) NOT NULL DEFAULT 0.00,
  `txid` varchar(100) DEFAULT NULL COMMENT 'ID da transa├º├úo de pagamento',
  `data_criacao` datetime NOT NULL DEFAULT current_timestamp(),
  `data_pagamento` datetime DEFAULT NULL,
  `data_envio` datetime DEFAULT NULL,
  `data_entrega` datetime DEFAULT NULL,
  `data_cancelamento` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_venda_usuario` (`usuario_id`),
  KEY `idx_status` (`status`),
  KEY `idx_data_criacao` (`data_criacao`),
  KEY `idx_venda_usuario_data` (`usuario_id`,`data_criacao`),
  CONSTRAINT `fk_venda_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venda`
--

LOCK TABLES `venda` WRITE;
/*!40000 ALTER TABLE `venda` DISABLE KEYS */;
/*!40000 ALTER TABLE `venda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vw_dashboard_indicadores`
--

DROP TABLE IF EXISTS `vw_dashboard_indicadores`;
/*!50001 DROP VIEW IF EXISTS `vw_dashboard_indicadores`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_dashboard_indicadores` AS SELECT
 1 AS `total_produtos`,
  1 AS `total_usuarios`,
  1 AS `total_vendas`,
  1 AS `receita_total`,
  1 AS `produtos_baixo_estoque` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_produtos_vendas`
--

DROP TABLE IF EXISTS `vw_produtos_vendas`;
/*!50001 DROP VIEW IF EXISTS `vw_produtos_vendas`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_produtos_vendas` AS SELECT
 1 AS `id`,
  1 AS `nome`,
  1 AS `preco`,
  1 AS `estoque`,
  1 AS `total_vendido`,
  1 AS `receita_total`,
  1 AS `numero_vendas` */;
SET character_set_client = @saved_cs_client;

--
-- Dumping events for database 'ggnondrack_shop'
--

--
-- Dumping routines for database 'ggnondrack_shop'
--
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `inserir_produtos_lote` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `inserir_produtos_lote`(

        IN p_categoria_id INT,

        IN p_nome_base VARCHAR(100),

        IN p_preco_base DECIMAL(10,2),

        IN p_quantidade INT

    )
BEGIN

        DECLARE i INT DEFAULT 1;

        DECLARE nome_produto VARCHAR(150);

        DECLARE preco_produto DECIMAL(10,2);

        DECLARE estoque_produto INT;

        

        DECLARE EXIT HANDLER FOR SQLEXCEPTION

        BEGIN

            ROLLBACK;

            RESIGNAL;

        END;

        

        START TRANSACTION;

        

        WHILE i <= p_quantidade DO

            SET nome_produto = CONCAT(p_nome_base, ' - Modelo ', LPAD(i, 3, '0'));

            SET preco_produto = p_preco_base + (RAND() * p_preco_base * 0.3);

            SET estoque_produto = FLOOR(10 + (RAND() * 50));

            

            INSERT INTO produto (nome, descricao, categoria_id, preco, estoque, imagem, ativo, data_cadastro)

            VALUES (

                nome_produto,

                CONCAT('Descri├º├úo autom├ítica para ', nome_produto, '. Produto de alta qualidade com excelente custo-benef├¡cio.'),

                p_categoria_id,

                ROUND(preco_produto, 2),

                estoque_produto,

                CONCAT('produto_', LOWER(REPLACE(p_nome_base, ' ', '_')), '_', i, '.jpg'),

                'S',

                NOW()

            );

            

            SET i = i + 1;

        END WHILE;

        

        COMMIT;

        

        SELECT CONCAT('Inseridos ', p_quantidade, ' produtos com sucesso!') AS resultado;

    END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Final view structure for view `vw_dashboard_indicadores`
--

/*!50001 DROP VIEW IF EXISTS `vw_dashboard_indicadores`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_dashboard_indicadores` AS select (select count(0) from `produto` where `produto`.`ativo` = 'S') AS `total_produtos`,(select count(0) from `usuario` where `usuario`.`ativo` = 'S') AS `total_usuarios`,(select count(0) from `venda` where `venda`.`status` = 'paga') AS `total_vendas`,(select coalesce(sum(`iv`.`subtotal`),0) from (`item_venda` `iv` join `venda` `v` on(`iv`.`venda_id` = `v`.`id`)) where `v`.`status` = 'paga') AS `receita_total`,(select count(0) from `produto` where `produto`.`estoque` < 10 and `produto`.`ativo` = 'S') AS `produtos_baixo_estoque` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_produtos_vendas`
--

/*!50001 DROP VIEW IF EXISTS `vw_produtos_vendas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_produtos_vendas` AS select `p`.`id` AS `id`,`p`.`nome` AS `nome`,`p`.`preco` AS `preco`,`p`.`estoque` AS `estoque`,coalesce(sum(`iv`.`quantidade`),0) AS `total_vendido`,coalesce(sum(`iv`.`subtotal`),0) AS `receita_total`,count(distinct `v`.`id`) AS `numero_vendas` from ((`produto` `p` left join `item_venda` `iv` on(`p`.`id` = `iv`.`produto_id`)) left join `venda` `v` on(`iv`.`venda_id` = `v`.`id` and `v`.`status` = 'paga')) where `p`.`ativo` = 'S' group by `p`.`id`,`p`.`nome`,`p`.`preco`,`p`.`estoque` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-22  9:54:33
